//* Convert pixel to rem automatically
@function rem($size) {
    $remSize: $size / 15;
    @return #{$remSize}rem;
}
//*Media queries: Mixins
@mixin media-query ($size) {
    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (min-width: 992px) {
            @content;
        }
    } 
    @else if $size == tablet-mini {
        @media screen and (min-width: 786px) {
            @content;
        }
    } 
    @else if $size == large-mobile {
        @media screen and (min-width: 602px) {
            @content;
        }
    } 
    @else if $size == mobile {
        @media screen and (min-width: 300px) {
            @content;
        }
    } 
}

//* Colors
$color-bg-body: hsl(233, 47%, 7%);
$color-bg-card: hsl(244, 38%, 16%);
$color-text-highlight: hsl(277, 64%, 61%);
$color-neutral: hsl(0, 0%, 100%);
$color-paragraph: hsla(0, 0%, 100%, 0.75);
$color-stats-heading: hsla(0, 0%, 100%, 0.6);

//* Font Family
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

//* Font Weight
$weight-regular: 400;
$weight-bold: 700;

//* Border Radius
$radius-mobile: rem(10) rem(10) rem(0) rem(0);
$radius-desktop: rem(0) rem(10) rem(10) rem(0);


//! CSS BASE RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//* Set core root defaults
html:focus-within {
    scroll-behavior: smooth;
}
img {
    display: block;
    width: 100%;
}
body {
    max-width: 100%;
    min-height: 100vh;
    padding: rem(15);
    background-color: $color-bg-body;
    font-size: rem(15);
    line-height: rem(25);
    font-family: $font-secondary;
    color: $color-paragraph;
    font-weight: $weight-regular;
    display: grid;
    place-items: center;
}
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

//TODO: MAIN STYLING

.card {
    max-width: rem(600);
    min-height: rem(400);
    margin: rem(70) auto;
    background-color: $color-bg-card;
    border-radius: rem(10);
    @include media-query(desktop) {
        max-width: rem(1000);
        min-height: rem(0);
        display: flex;
        flex-direction: row-reverse;
    }
    &__image {
        flex: 1 rem(500);
        max-width: 100%;
        min-height: rem(240);
        position: relative;
        @include media-query(desktop) {
            min-height: 100%;
        }
    }
}
.image {
    width: 100%;
    min-height: rem(240);
    background-image: url(images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius-mobile;
    @include media-query(desktop) {
        min-height: 100%;
        background-image: url(images/image-header-desktop.jpg);
        background-size: cover;
        border-radius: rem(0) rem(10) rem(10) rem(0);
    }
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 77%, 32%, 0.637);
    border-radius: $radius-mobile;
    z-index: 1000;
    @include media-query(desktop) {
        border-radius: $radius-desktop;
    }
}
.card__content {
    flex: 1 rem(500);
    padding: rem(50) rem(20) rem(40) rem(20);
    text-align: center;
    @include media-query(desktop) {
        text-align: left;
        padding: rem(50) rem(100) rem(50) rem(50);
    }
    &-info {
        margin-bottom: rem(20);
        h2 {
            font-size: rem(28);
            line-height: rem(33);
            margin-bottom: rem(15);
            color: $color-neutral;
            font-family: $font-primary;
            font-weight: $weight-bold;
            @include media-query(desktop) {
                font-size: rem(30);
                line-height: rem(42);
                margin-bottom: rem(25);
            }
        }
    }
    &-stat {
        min-height: rem(100);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include media-query(desktop) {
            flex-wrap: nowrap;
            min-height: rem(0);
            justify-content: flex-start;
            margin-top: rem(50);
        }
        & > * {
            flex: 1 rem(140);
            padding: rem(10) rem(0);
            @include media-query(desktop) {
                padding: rem(10) rem(45) rem(0) rem(0);
            }
        }
    }
}
.highlight {
    color: $color-text-highlight;
}
.stat span {
    display: block;
    font-size: rem(25);
    line-height: rem(35);
    font-family: $font-primary;
    font-weight: $weight-bold;
    color: $color-neutral;
    @include media-query(desktop) {
        font-size: rem(20);
        line-height: rem(30);
    }
}
.stat p {
    font-size: rem(13);
    text-transform: uppercase;
}